@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", Arial, Helvetica, sans-serif;
}

:root {
  --black: #252323ff;
  --gray: #70798cff;
  --white: #f5f1edff;
  --offwhite: #dad2bcff;
  --green: #60712fff;
}

html,
body {
  width: 100%;
  height: 100vh;
}